.cart {
    background: rgba(255, 153, 0, 0.3);
    padding: 25px;
    position: sticky;
    top: 0;
}

.cart h6 {
    font-weight: 400;
    font-size: 21px;
}
.cart h4{
    font-weight: 400;
    font-size: 21px;  
    text-align: center;
}